<%- include header %>
<!--START:main-->
<!-- Docs page layout -->
<div id="content">
    <div class="container">
        <h1>找回密码</h1>
    </div>
</div>

<div class="container">
     抱歉，链接已经过期了...<br />
     <a href="/forgot-password">点击这里</a>重新找回密码 
</div>
<!--END:main-->

<%- include footer %>