<%- include header %>

<!--START:main-->
<!-- Docs page layout -->
<div id="content">
    <div class="container">
        <h1>会员登陆</h1>
    </div>
</div>

<div class="container">
    <div class="col-md-6">

        <h1>YOUR LOGO</h1>
    </div>
    <%= (!!locals.error)?error:'' %>
    <div class="col-md-6">

        <form class="ligle-form" method="post" enctype='multipart/form-data' action="/login?redirect=/member">
            <table>
                <tr>
                    <div id="msg"></div>
                    <td>账号：</td>
                    <td><input type="text" name="name" id="name" placeholder="会员ID/手机/邮箱"></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password" name="password" id="password" placeholder="输入密码"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input class="btn btn-info form-control" type="button" value="登陆" onclick="javascript:login()"></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<!--END:main-->
<script>
    function getSucc(obj){
        console.log('succ',obj);
        location.pathname = '/member';
    }
    function getErr(obj){
        console.log('err',obj);
        document.getElementById('msg').innerHTML = '错误：'+obj.error;
    }
    function login(){
        var loginName = document.getElementById('name').value;
        var postInfo = getLoginPostInfo(loginName);
        console.log(postInfo);
        if(!postInfo.status) return $('#msg').html('请输入正确的用户名');
        var d={};
        d[postInfo.name] = document.getElementById('name').value;
        d.password = document.getElementById('password').value;
        console.log(d);
        getSmsByForm(postInfo.url,d,getSucc,getErr);
    }

    function getLoginPostInfo(name){
        var emailRegExp =  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        var cellRegExp = /^1[3|4|5|8][0-9]\d{8}$/;

        if(cellRegExp.test(name)) return {name: 'cellphone', url:'/loginSMS',status:true};
        else if(emailRegExp.test(name)) return {name: 'email', url:'/login', status:true};
        else return {name:name, url:'', status:false};
    }
</script>
<%- include footer %>