<%- include header %>

<!--START:main-->
<!-- Docs page layout -->
<div id="content">
    <div class="container">
        <h1>注册新会员</h1>
    </div>
</div>

<div class="container">
     恭喜你注册成功
     登陆链接：<a href="/login">这里</a>
</div>
<!--END:main-->

<%- include footer %>