
<div style="text-align: center">
    <span><a class="btn-info btn btn-sm" href="#">上一页</a></span>&nbsp;&nbsp;
<span>

</span>
    &nbsp;&nbsp;<span><a class="btn-info btn btn-sm" href="">下一页</a></span>

<span>当前第___页</span>
<span>| 共___页</span>
    |
<span>
    跳转到第<input type="number" id="toPage" style="width: 50px">页
    <button class="btn-warning btn btn-sm" onclick="jumpToPage()">确定</button>
</span>

</div>
