<%- include header %>
<div class="content_test">
    <div class="container_test">
        <h1>查看</h1>
    </div>
</div>

<div class="container_test1">
    <h5>题目：<%=data1.title2 %></h5>
    <div class="caption">
        <h6>文章内容：<%= data1.text2 %></h6>
    </div>
    <br/>
</div>


<ul class="h_container" style="display:inline">
    <li><a href="/test">我要评论</a></li>
    <li><a href="/list/basic2">评论列表</a></li>
</ul>

<%- include footer %>