<%- include header %>

<div class="container indexcontainer">
    <h1>
        Thank you for using LigleEngine!
    </h1>
</div>

<div class="row" style="min-height: 300px;width: 95%">

</div>

<%- include footer %>
