<!DOCTYPE html>
<html>
<head>
    <title>ligleEngine-控制台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <link href="/common/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/common/summernote/summernote.css" rel="stylesheet">
    <link href="/common/validform/validform.css" rel="stylesheet">

    <!--个性化样式在这个文件中书写-->
    <link href="/stylesheets/console.css" rel="stylesheet" type="text/css">

    <script src="/common/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="/common/summernote/summernote.js"></script>
    <!--表单验证-->
    <script src="/common/validform/validform.min.js"></script>
    <script src="/common/link_select/link_select.js" type="text/javascript"></script>

    <script type="text/javascript">
        //删除确认
        function cfm(url) {
            if (confirm("确认要进行此项操作吗？"))
                location.href = url;
        }
        $(document).ready(function () {
            $('#summernote').summernote({  //富文本编辑器
                //set editor height
                height: 300
            });
            $(".demoform").Validform({  //表单检测
                //添加检测的数据类型
                datatype:{
                    //6~20个任意字符
                    "*6-20": /^[^\s]{6,20}$/,
                    //2~4个汉字
                    "z2-4" : /^[\u4E00-\u9FA5\uf900-\ufa2d]{2,4}$/
                }
            });
        });
    </script>
    <style type="text/css">
        .ccc li {
            font-size: 14px;
        }
        .ccc .nav-header {
            font-size: 20px;
        }
    </style>
</head>

<body>
<!--START:header bar-->
<div class="col-xs-12" style="margin-top: 10px" >
    <div class="thumbnail">
        <a href="/logout" type="button" class="btn btn-xs btn-danger"
           style="margin-top:10px;float: right">登出</a>
        <a href="#">
            <img src="" alt=" LIGLE DATA "/>
            ligleEngine 控制台
        </a>
    </div>
</div>
<!--END:header bar-->

<!--START:menu bar-->
<div class="col-xs-2">
    <div class="thumbnail">
        <ul class="nav nav-list ccc">
            <li class="nav-header"><i class="fa fa-fw fa-dashboard"></i>概况</li>
            <li><a href="/admin">仪表台</a></li>
            <li class="nav-header"><i class="fa fa-fw fa-dashboard"></i>管理</li>
            <li><a href="/a_member">会员</a></li>
            <li><a href="/a_order">订单</a></li>
            <li class="nav-header"><i class="fa fa-fw fa-dashboard"></i>数据</li>
            <li><a href="/a_commodity">商品类型</a></li>
            <li><a href="/a_basic">基本类型</a></li>
            <li><a href="/a_pics">图片素材</a></li>
        </ul>
    </div>
</div>
<!--END:menu bar-->

<!--START:main box-->
<div class="col-xs-10">