<%- include a_header %>

<!--START:main-->
<div class="col-sm-12" id="content">
    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--本单元标题-->
                <div class="panel-heading">筛选</div>
                <!--本单元内容-->
                <div class="panel-body">
                    <form>
                        关键字：
                        <input type="text">

                        <button class="btn btn-info btn-sm">确定</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--本单元标题-->
                <div class="panel-heading">会员列表</div>
                <!--本单元内容-->
                <div class="panel-body">
                    <table class="table table-hover" style="width: 100%">
                        <thead>
                        <tr>
                            <th>邮箱</th>
                            <th>手机</th>
                            <th>昵称</th>
                            <th>详情</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>illidanswp@126.com</td>
                            <td>372259918</td>
                            <td>illidanswp</td>
                            <td><a href="/a_member_detail" class="btn-info btn btn-sm">详情</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END:main-->

<%- include a_footer %>