<%- include a_header %>

<!--START:main-->
<div class="col-sm-12" id="content">
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">上传图片</div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data">
                        <input type="file" name="pic"/>
                        <input type="file" name="pic"/>
                        <input type="file" name="pic"/>
                        <input type="file" name="pic"/>
                        <input type="file" name="pic"/>
                        <input type="file" name="pic"/>
                        <input type="file" name="pic"/>
                        <br/>
                        <button class="btn btn-primary" id="save" type="submit">上传图片</button>
                    </form>
                </div>
            </div>
        </div>
        <!--确认、功能框-->
        <div class="col-lg-9">
            <div class="panel panel-info">
                <div class="panel-heading">图库</div>
                <div class="panel-body">
                    <% files.forEach(function(f){ %>
                    <div class="col-lg-2" style="border: 1px dashed #000000;height: 100px;overflow: hidden">
                        <a onclick="cfm('/a_delpic/<%= f %>');" class="btn-xs btn-danger btn" style="position:absolute;top:0px;left: 0px">
                            删除
                        </a>
                        <img src="/images/upload/pics/<%= f %>" alt="示例图片" style="width: 100%">
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END:main-->

<%- include a_footer %>