<%- include header %>

<!--START:main-->
<!-- Docs page layout -->
<div class="bs-docs-header" id="content" style="background-image: url('/images/c_img/top_bg_blue.jpg')">
    <div class="container">
        <h1>会员登陆</h1>
    </div>
</div>

<div class="container bs-docs-container">
     你已经登出！
</div>
<!--END:main-->

<%- include footer %>