<%- include header %>

<style type="text/css">
    .caption p {
        color: #b7b7b7;
    }
    textarea{
        width: 100%;
    }
    input{
        margin: 5px 5px ;
    }
</style>

<!--START:main-->
<!-- Docs page layout -->
<div class="bs-docs-header" id="content" style="background-image: url('/images/c_img/top_bg_blue.jpg')">
    <div class="container">
        <h1 style="text-shadow: 2px 2px #202020">找回密码</h1>
    </div>
</div>

<div class="container bs-docs-container">
    <%= (!!locals.error)?error:'' %>
     <form method="post" enctype='multipart/form-data' action="/forgot-password/<%=token%>">
        新密码：<input type="password" name="password">
        <br />
        <input type="submit" value="修改密码">
    </form>
</div>
<!--END:main-->

<%- include footer %>