<%- include header %>

<style>
    span{
        font-size: 20px;
        font-weight: 600;
    }
</style>


<!--START:main-->
<!-- Docs page layout -->
<div class="bs-docs-header" id="content" style="background-image: url('')">
    <div class="container">
        <h1>LigleEngine</h1>
        <p style="color: #ffffff">努力去做的更好一点...</p>
        <a id="layerTest">Say Hi!</a>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-2">
            <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
                <ul class="nav bs-docs-sidenav">
                    <li><a href="#bookmark-detail-1">项目说明</a></li>
                    <li><a href="#bookmark-detail-2">关于作者</a></li>
                </ul>
                <a class="back-to-top" href="#top">
                    返回顶部
                </a>
            </div>
        </div>
        <div class="col-md-10" role="main">
            <div class="bs-docs-section">
                <h2 id="bookmark-detail-1" class="page-header">项目说明</h2>
                <div class="main" style="font-size:16px;white-space: pre-line">
                    如对该项目有兴趣，请联系hi@ligle.net
                    <hr />
                </div>
            </div>
            <div class="bs-docs-section">
                <h2 id="bookmark-detail-2" class="page-header">关于作者</h2>
                <div class="main" style="font-size:20px;white-space: pre-line">
                    Illidanswp;Crackhopper;Hijack;Wyr;Aciosty
                </div>
            </div>
        </div>
    </div>
</div>
<!--END:main-->


<%- include footer %>