<%- include header %>

<!--START:main-->
<!-- Docs page layout -->
<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>注册新会员</h1>
    </div>
</div>

<div class="container bs-docs-container">
     请注册邮件已经发送你的邮箱，请登陆邮箱确认。
</div>
<!--END:main-->

<script type="text/javascript">
    $(function () {
        var area = "/common/link_select/area.json";
        var initArea = [
        ];
        initLinkSelect(
                ".selectList_area",
                area,
                initArea);
    });
</script>

<%- include footer %>