<%- include header %>

<style type="text/css">
    .caption p {
        color: #b7b7b7;
    }
    textarea{
        width: 100%;
    }
    input{
        margin: 5px 5px ;
    }
</style>

<!--START:main-->
<!-- Docs page layout -->
<div class="bs-docs-header" id="content" style="background-image: url('/images/c_img/top_bg_blue.jpg')">
    <div class="container">
        <h1 style="text-shadow: 2px 2px #202020">找回密码</h1>
    </div>
</div>

<div class="container bs-docs-container">
     重置密码的邮件已经发送到你的邮箱。
</div>
<!--END:main-->

<%- include footer %>