<%- include header %>

<!--START:main-->
<!-- Docs page layout -->
<div id="content">
    <div class="container">
        <h1>更改/绑定登陆邮箱</h1>
    </div>
</div>

<div class="container">
    恭喜您，修改成功！<br />
    10秒后跳转<br />
    请进入<a href="/member">会员中心</a>查看<br />
</div>
<!--END:main-->

<%- include footer %>