<%- include header %>


<!--START:main-->
<!-- Docs page layout -->
<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>找回密码</h1>
    </div>
</div>
<div class="container">
    <div class="col-md-6">
        <h1>
            YOUR LOGO
        </h1>
    </div>
    <%= (!!locals.error)?error:'' %>
    <div class="col-md-6">
        <form method="post" class="ligle-form" enctype='multipart/form-data' action="/forgotPwSMS">
            <table>
                <tr>
                    <th colspan="2">
                        <h3>使用手机号码快速找回</h3>
                    </th>
                </tr>
                <tr>
                    <th>手机号：</th>
                    <td><input type="number" name="cellphone" id='cellphone'></td>
                </tr>
                <tr>
                    <th>验证码：</th>
                    <td>
                        <input type="text" name="code" id='code'>
                        <img  class="CAPTCHA" src="/getCode"  alt="验证码" />
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <div id='smsMsg'></div>
                    </td>
                </tr>
                <tr>
                    <th>短信验证码：</th>
                    <td>
                        <input id='code' type="text" name="codeSMS" maxlength="6">
                        <a id="getSMS" class="btn-info btn btn-sm" href="javascript: getResetSMS();">获取短信验证码</a>
                    </td>
                </tr>
                <tr>
                    <th>设置新密码：</th>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" class="ligle-input-lg" value="完成"></td>
                </tr>
            </table>
            <a class="ligle-switch">使用邮箱找回</a>
        </form>
        <form method="post" class="ligle-form" enctype='multipart/form-data' action="/forgot-password">
            <table>
                <tr>
                    <th colspan="2">
                        <h3>使用邮箱找回</h3>
                    </th>
                </tr>
                <tr>
                    <th>邮箱：</th>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <th>验证码：</th>
                    <td>
                        <input type="text" name="code" id='code'>
                        <img  class="CAPTCHA" src="/getCode"  alt="验证码" />
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="发送验证邮件"></td>
                </tr>
            </table>
            <a class="ligle-switch">使用手机号码快速找回</a>
        </form>
    </div>
</div>

<!--END:main-->
<script>
    function getSucc(obj){
        console.log('succ',obj);
        document.getElementById('smsMsg').innerHTML = '验证码已经发送到手机';
    }
    function getErr(obj){
        console.log('err',obj);
        document.getElementById('smsMsg').innerHTML = '错误：'+obj.error;
    }
    function getResetSMS(){
        var d={};
        d.cellphone = document.getElementById('cellphone').value;
        d.code = document.getElementById('code').value;
        d.type = 'reset';
        getSmsByForm('/getResetSMS',d,getSucc,getErr);
    }
</script>
<%- include footer %>