<%- include header %>


<!--START:main-->
<!-- Docs page layout -->
<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>找回密码</h1>
    </div>
</div>

<div class="container bs-docs-container">
    <%= (!!locals.error)?error:'' %>
</div>

<div id="tab" class="container bs-docs-container">
    <%= (!!locals.error)?error:'' %>
    <div>
        <ul class="tab_menu">
            <li class="selected">邮箱</li>
            <li>手机</li>
        </ul>
    </div>
    <div class="tab_box">
        <div>
            <form method="post" enctype='multipart/form-data' action="/forgot-password">
                邮箱：<input type="email" name="email">
                <br />
                <input type="submit" value="找回密码">
            </form>
        </div>
        <div style="display: none">
            <form method="post" enctype='multipart/form-data' action="/forgotPwSMS">
                手机号：<input type="number" name="cellphone" id='cellphone'>
                <br />
                验证码：<input type="text" name="code" id='code'>
                <img  class="CAPTCHA" src="/getCode"  alt="验证码" />
                <a id="getSMS" href="javascript: getResetSMS();">获取短信验证码</a>
                <div id='smsMsg'></div>
                短信验证码：<input type="text" name="codeSMS">
                <br />
                设置新密码：<input type="password" name="password">
                <br />
                <input type="submit" value="设置">
            </form>
        </div>
    </div>
</div>

<!--END:main-->
<script>
    function getSucc(obj){
        console.log('succ',obj);
        document.getElementById('smsMsg').innerHTML = '验证码已经发送到手机';
    }
    function getErr(obj){
        console.log('err',obj);
        document.getElementById('smsMsg').innerHTML = '错误：'+obj.error;
    }
    function getResetSMS(){
        var d={};
        d.cellphone = document.getElementById('cellphone').value;
        d.code = document.getElementById('code').value;
        d.type = 'reset';
        getSmsByForm('/getResetSMS',d,getSucc,getErr);
    }
</script>
<%- include footer %>