<%- include header %>
<!--START:main-->
<!-- Docs page layout -->
<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>找回密码</h1>
    </div>
</div>

<div class="container bs-docs-container">
     链接已经失效了！！<br />

     <a href="/forgot-password">点击这里</a>重新找回密码 
</div>
<!--END:main-->

<%- include footer %>