<%- include header %>

<!--START:main-->
<!-- Docs page layout -->
<div id="content">
    <div class="container">
        <h1>会员登陆</h1>
    </div>
</div>

<div class="container">
    <div class="col-md-6">

        <h1>YOUR LOGO</h1>
    </div>
    <%= (!!locals.error)?error:'' %>
    <div class="col-md-6">

        <form class="ligle-form" method="post" enctype='multipart/form-data' action="/login?redirect=/member">
            <table>
                <tr>
                    <td>账号：</td>
                    <td><input type="text" name="email" placeholder="会员ID/手机/邮箱"></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password" name="password" placeholder="输入密码"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input class="btn btn-info form-control" type="submit" value="登陆"></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<!--END:main-->

<%- include footer %>