<%- include header %>

<!--START:main-->
<!-- Docs page layout -->
<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>注册新会员</h1>
    </div>
</div>

<div class="container bs-docs-container">
     链接已失效，重新发送验证邮件。
    <form method="post" enctype='multipart/form-data' action="/regist/resend-verification">
        邮箱：<input type="email" name="email">
        <br />
        <input type="submit" value="发送">
    </form>

</div>
<!--END:main-->

<%- include footer %>