<%- include header %>
<!--START:main-->
<!-- Docs page layout -->
<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>注册新会员</h1>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="col-md-6">
        <h1>YOUR LOGO</h1>
    </div>
    <%= (!!locals.error) ? error : '' %>
    <div class="col-md-6">
        <form class="ligle-form" method="post" enctype='multipart/form-data' action="/registSMS">
            <table>
                <tr>
                    <th>手机号码</th>
                    <td><input class="ligle-input-lg" type="text" name="cellphone" id='cellphone'></td>
                </tr>
                <tr>
                    <th>设置密码</th>
                    <td><input class="ligle-input-lg" type="password" name="password"></td>
                </tr>
                <tr>
                    <th>验证码</th>
                    <td>
                        <input class="ligle-input-md" type="text" name="code" maxlength="4">
                        <img class="CAPTCHA" src="/getCode" alt="验证码"/>
                        <div id='smsMsg'></div>
                    </td>
                </tr>
                <tr>
                    <th>短信验证</th>
                    <td>
                        <input class="ligle-input-md" type="text" name="codeSMS" maxlength="6">
                        <a id="getSMS" class="btn-info btn btn-sm" href="javascript: getSignupSMS();">获取短信验证码</a>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="checkbox" name="">我已经阅读并且同意<a>网站用户条款</a></td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input type="submit" class="ligle-input-lg" value="注册">
                        <a>使用邮箱进行注册</a>
                    </td>
                </tr>
            </table>
        </form>
        <form class="ligle-form" method="post" enctype='multipart/form-data' action="/registSMS">
            <table>
                <tr>
                    <th>电子邮箱</th>
                    <td><input class="ligle-input-lg" type="text" name="cellphone" id='cellphone'></td>
                </tr>
                <tr>
                    <th>设置密码</th>
                    <td><input class="ligle-input-lg" type="password" name="password"></td>
                </tr>
                <tr>
                    <th>验证码</th>
                    <td>
                        <input class="ligle-input-md" type="text" name="code" maxlength="4">
                        <img class="CAPTCHA" src="/getCode" alt="验证码"/>
                        <div id='smsMsg'></div>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="checkbox" name="">我已经阅读并且同意<a>网站用户条款</a></td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input type="submit" class="ligle-input-lg" value="注册">
                        <a>使用手机号码进行注册</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<!--END:main-->
<script>
function getSucc(obj){
  console.log('succ',obj);
  document.getElementById('smsMsg').innerHTML = '验证码已经发送到手机';
}
function getErr(obj){
  console.log('err',obj);
  document.getElementById('smsMsg').innerHTML = '错误：'+obj.error;
}
function getSignupSMS(){
  var d={};
  d.cellphone = document.getElementById('cellphone').value;
  d.code = document.getElementById('code').value;
  getSmsByForm('/getSignupSMS',d,getSucc,getErr);
}
</script>
<%- include footer %>