<%- include header %>

<!--START:main-->
<!-- Docs page layout -->
<div id="content">
    <div class="container">
        <h1>注册新会员</h1>
    </div>
</div>

<div class="container">
     请注册邮件已经发送你的邮箱，请登陆邮箱确认。
</div>
<!--END:main-->

<%- include footer %>