<%- include header %>
<!--START:main-->
<!-- Docs page layout -->
<div id="content">
    <div class="container">
        <h1>注册新会员</h1>
    </div>
</div>

<div class="container">
    <div class="col-md-6">
        <h1>YOUR LOGO</h1>
    </div>
    <%= (!!locals.error) ? error : '' %>
    <div class="col-md-6">
        <form class="ligle-form mode-cellphone" method="post" enctype='multipart/form-data' action="/registSMS">
            <table>
                <tr>
                    <td>手机号码：</td>
                    <td><input class="ligle-input-lg" type="text" name="cellphone" id='cellphone'></td>
                </tr>
                <tr>
                    <td>设置密码：</td>
                    <td><input class="ligle-input-lg" type="password" name="password"></td>
                </tr>
                <tr>
                    <td>验证码：</td>
                    <td>
                        <input class="ligle-input-md" type="text" name="code" maxlengtd="4" id="code">
                        <img class="CAPTCHA" src="/getCode" alt="验证码"/>
                        <div id='smsMsg'></div>
                    </td>
                </tr>
                <tr>
                    <td>短信验证：</td>
                    <td>
                        <input class="ligle-input-md" type="text" name="codeSMS" maxlengtd="6">
                        <a id="getSMS" class="btn-info btn btn-sm" href="javascript: getSignupSMS();">获取短信验证码</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="checkbox" name="">我已经阅读并且同意<a href="#">网站用户条款</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="ligle-input-lg btn-info" value="注册">
                        <a class="switch-mode btn-default btn-xs btn">使用邮箱进行注册</a>
                    </td>
                </tr>
            </table>
        </form>
        <form class="ligle-form mode-email" method="post" enctype='multipart/form-data' action="" style="display: none">
            <table>
                <tr>
                    <td>电子邮箱：</td>
                    <td><input class="ligle-input-lg" type="text" name="email" id='email'></td>
                </tr>
                <tr>
                    <td>设置密码：</td>
                    <td><input class="ligle-input-lg" type="password" name="password"></td>
                </tr>
                <tr>
                    <td>验证码：</td>
                    <td>
                        <input class="ligle-input-md" type="text" name="code" maxlengtd="4" id="code">
                        <img class="CAPTCHA" src="/getCode" alt="验证码"/>
                        <div id='smsMsg'></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="checkbox" name="">
                        我已经阅读并且同意<a href="#">网站用户条款</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="ligle-input-lg btn-info" value="注册">
                        <a class="switch-mode btn-default btn-xs btn">使用手机号码进行注册</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<!--END:main-->
<script>
function getSucc(obj){
  console.log('succ',obj);
  document.getElementById('smsMsg').innerHTML = '验证码已经发送到手机';
}
function getErr(obj){
  console.log('err',obj);
  document.getElementById('smsMsg').innerHTML = '错误：'+obj.error;
}
function getSignupSMS(){
  var d={};
  d.cellphone = document.getElementById('cellphone').value;
  d.code = document.getElementById('code').value;
  getSmsByForm('/getSignupSMS',d,getSucc,getErr);
}
</script>
<%- include footer %>