<%- include header %>
<!--START:main-->
<!-- Docs page layout -->
<div id="content" >
    <div class="container">
        <h1>找回密码</h1>
    </div>
</div>

<div class="container">
     验证邮件已经发送到你的邮箱，请登陆邮箱进行查看。
</div>
<!--END:main-->

<%- include footer %>