<%- include a_header %>

<!--START:main-->
<div class="col-sm-12" id="content">
    <div class="row">
        <p style="margin: 10px 20px;font-size: 30px">
            修改密码
        </p>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">修改密码</div>
                <div class="panel-body">
                    <form>
                        <table>
                            <tr>
                                <td>原密码：</td>
                                <td><input type="password" class="form-control" placeholder="原密码" ></td>
                            </tr>
                            <tr>
                                <td>新密码：</td>
                                <td><input type="password" class="form-control" placeholder="新密码" ></td>
                            </tr>
                            <tr>
                                <td>重复密码：</td>
                                <td><input type="password" class="form-control" placeholder="重复密码" ></td>
                            </tr>
                        </table>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-danger">
                <div class="panel-heading">注意！</div>
                <div class="panel-body">
                    请妥善管理好您的密码，不要将其泄露给他人！
                </div>
            </div>
        </div>
    </div>
</div>
<!--END:main-->

<%- include a_footer %>