<%- include a_header %>

<!--START:main-->
<div class="col-sm-12" id="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">概况</div>
                <div class="panel-body">
                    <table >
                        <tr>
                            <th>注册数量：</th>
                            <td>xxxx</td>
                        </tr>
                        <tr>
                            <th>总访问量：</th>
                            <td>xxxx</td>
                        </tr>
                        <tr>
                            <th>今日访问量：</th>
                            <td>xx</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END:main-->

<%- include a_footer %>