<%- include a_header %>

<!--START:main-->
<div class="col-sm-12" id="content">
    <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
                <!--本单元标题-->
                <div class="panel-heading">仪表台</div>
                <!--本单元内容-->
                <div class="panel-body">
                    <form class="form markdown-settings">
                        <div class="row">

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    内容
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--确认、功能框-->
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">控制板</div>
                <div class="panel-body">
                    <button class="btn btn-primary" id="save">保存设置</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END:main-->

<%- include a_footer %>