<%- include a_header %>

<!--START:main-->
<div class="col-sm-12" id="content">
    <div class="row">
        <p style="margin: 10px 20px;font-size: 30px">
            仪表盘
        </p>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">访问量：[下面是图例]</div>
                <div class="panel-body" style="overflow: hidden">
                    <img src="http://www.kuaipic.com/uploads/allimg/130510/1-130510110T90.jpg"
                            style="width: 100%;height: auto;position: relative;left: -30px;top: -30px">
                </div>
            </div>
        </div>
    </div>
</div>
<!--END:main-->

<%- include a_footer %>